body {
  background: #f9f7fe;
  margin: 0;
  display: block;
}

.weather {
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  padding: 40px;
  display: block;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

.weather h1 {
  color: #000000;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}

.WeatherInfo li {
  color: #bdb8b8;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.row ul {
  margin: 0;
  padding: 0;
}

.col-6 {
  color: #000000;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
  margin-top: 30px;
}

footer {
  font-size: small;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fca311;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
