body {
  background: #e5e5e5;
  margin: 0;
  display: block;
}

.weather {
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  padding: 40px;
  display: block;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

form {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
}

.weather .search-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}

.weather .btn {
  background: #fca311;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}

.weather .btn:hover {
  cursor: pointer;
  background: #fca311;
}

.weather .form-control {
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.weather h1 {
  color: #000000;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
  padding: 0px;
}

.WeatherInfo li {
  color: #bdb8b8;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.row ul {
  margin: 0;
  padding: 0;
}

.weather-temperature {
  margin-left: 500px;
  margin-top: -120px;
  padding: 0px 12px;
  color: #000000;
  font-size: 80px;
  font-weight: 400;
}

.weather-temperature .units {
  color: #000000;
  font-size: 16px;
  position: relative;
  display: flex;
  margin-top: 25px;
}

.weather-temperature .units a {
  text-decoration: none;
}

.weather-temperature img {
  margin: 10px 0;
  height: 64px;
  width: 64px;
}

li #humidity,
#wind {
  color: #28427b;
}

li .percent,
.speed {
  color: #28427b;
}

footer {
  font-size: 14px;
  text-align: center;
}

footer a {
  color: #fca311;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

footer a:hover {
  color: #fca311;
}
